---
import "@fontsource-variable/exo-2";
import "@fontsource/great-vibes";
---

<div id="container">
  <main class="flex flex-col gap-4 justify-center items-center h-svh">
    <section id="hero-rus" class="max-w-96">
      <p>
        меня зовут матвей соколовский в основном я программирую сайты на
        <span>&nbsp;тайпскрипте,</span> а ещё сейчас осваиваю <span>го.</span>
        обычно сайты получаются красивее<span>,</span> чем этот. вот мой <a
          href="https://github.com/sukalov"
          class="underline hover:opacity-60"
          aria-label="ссылка на гитхаб">гитхаб</a
        >
	  </p>
      <section id="links"></section>
    </section>
    <div class="w-full border"></div>
    <section id="hero-en" class="max-w-96">
      <p>
        my name is matvey sokolovsky i mainly do webdeving in <span
          >&nbsp;typescript,</span
        > but also exploring <span>&nbsp;go&nbsp;</span> as for now. my websites
        are usually fancier than this one. here is my <a
          href="https://github.com/sukalov"
          class="underline hover:opacity-60"
          aria-label="ссылка на гитхаб">github</a
        >
	  </p>
      <section id="links"></section>
    </section>
  </main>
</div>

<style>
  span {
    font-family: "Great Vibes", monospace;
    font-size: 1.2rem;
    vertical-align: baseline; /* or middle */
    line-height: 1; /* Can help normalize spacing */
  }
  section {
    line-height: 1.5; /* Use a unitless value instead of a fixed rem */
  }
</style>
