---
import "@fontsource-variable/exo-2";
import "@fontsource/great-vibes";
---

<div id="container">
  <main
    class="flex flex-col gap-4 justify-center items-center h-svh p-4 text-balance"
  >
    <section id="hero-rus" class="max-w-96">
      <p>
        меня зовут матвей соколовский. в основном я программирую сайты на<span
          >&nbsp;</span
        >
        <span>тайпскрипте,</span>&nbsp;а ещё сейчас осваиваю <span>го</span>.
        обычно сайты получаются красивее<span>,</span> чем этот. вот мой <a
          href="https://github.com/sukalov"
          class="underline hover:opacity-60"
          aria-label="ссылка на гитхаб">гитхаб</a
        >
      </p>
      <section id="links"></section>
    </section>
    <div class="w-full border"></div>
    <section id="hero-en" class="max-w-96">
      <p>
        my name is matvey sokolovsky. i mainly do webdeving in <span
          >&nbsp;typescript,&nbsp;</span
        >
        but currently i'm also exploring <span>&nbsp;go&nbsp;</span>. my
        websites are usually more attractive than this one. here's my <a
          href="https://github.com/sukalov"
          class="underline hover:opacity-60"
          aria-label="ссылка на гитхаб">github</a
        >
      </p>
      <section id="links"></section>
    </section>
  </main>
</div>

<style>
  span {
    font-family: "Great Vibes", monospace;
    font-size: 1.4rem;
    vertical-align: baseline;
    line-height: 1; /* Can help normalize spacing */
    font-weight: 100;
  }
  section {
    line-height: 1.5; /* Use a unitless value instead of a fixed rem */
  }
</style>
